
input.saswavlebeli_input{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding: 15px;

}
div.resume_bottom{
    height: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    div.bottom_single_resume{
        margin-top: 10px;
    }
    h2{
        color: #F93B1D;
        font-size: 18px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    div.degree{
        display: flex;
        margin-bottom: 10px;
    }
    p.finish_date{
        color: #909090;
        margin-bottom: 20px;
    }
}