div.hero1{
    width: 60%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    header{
        width: 60%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
    }
    button#redirect_button2{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #FFFFFF;
        position: absolute;
        left: 45px;
        top: 45px;
    }
    
    h1.priv_info{
        position: absolute;
        left: 150px;
        top: 50px;
    }
    div.underline{
        position: absolute;
        left: 150px;
        top: 100px;
        border: 1px solid #1A1A1A;
        width: calc(100% - 300px);
    }
    p.hero_counter{
        position: absolute;
        top: 60px;
        left: calc(60% - 175px);
        font-size: 25px;
    }

    div.inputfields{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 200px;
        width: 60%;
        gap: 60px;
        div.inputfield_left{
            display: flex;
            flex-direction: column;
            padding: 8px 24px;
            gap: 8px;
            div.left_form{
                width: 370px;
                    form.myform_left input.fname{
                    box-sizing: border-box;
                    background: #FFFFFF;
                    border: 1px solid #BCBCBC;
                    border-radius: 4px;
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                }
        }
        p.form_text{
            font-size: 14px;
            line-height: 21px;                      
            color: #2E2E2E; 
        }
    }
        div.inputfield_right{
            display: flex;
            flex-direction: column;
            padding: 8px 24px;
            gap: 8px;
            div.right_form{
                width: 370px;
                    form.myform_right input.lname{
                    box-sizing: border-box;
                    background: #FFFFFF;
                    border: 1px solid #BCBCBC;
                    border-radius: 4px;
                    width: 100%;
                    height: 100%;
                    padding: 15px;
                }
            }
            p.form_text{
                font-size: 14px;
                line-height: 21px;                    
                color: #2E2E2E;
            }
        }
    }
}


p.photo_link{
    position: absolute;
    left: 150px;
    top: 350px;
    font-size: 18px;
    color: #1A1A1A;
}
input#pic_upload{
    display: none;
}
label{
    padding: 10px 10px 12px;
    position: absolute;
    left: 400px;
    top: 340px;
    color: white;
    background: #0E80BF;
    border-radius: 4px;
    cursor: pointer;
}


div.about_me{
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    // padding: 8px 24px;
    // gap: 8px;
    // position: absolute;
    // width: 846px;
    // height: 148px;
    // left: calc(50% - 846px/2 - 411px);
    // top: 393px;

    width: 100px;
}