@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue";
}

body {
  overflow: none;
}

div.home {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/pics/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.home img.Redberry {
  position: absolute;
  left: 70px;
  top: 25px;
}
div.home img.logo {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 55%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
div.home div.line {
  position: absolute;
  left: 70px;
  right: 70px;
  top: 90px;
  border: 1px solid #1A1A1A;
}
div.home button#redirect_button1 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 18px 60px;
  cursor: pointer;
  position: absolute;
  background: #1A1A1A;
}
div.home button#redirect_button1 p.redirect_text {
  font-size: 20px;
  color: #FFFFFF;
}

div.hero1 {
  width: 60%;
  height: 100vh;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div.hero1 header {
  width: 60%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
div.hero1 button#redirect_button2 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #FFFFFF;
  position: absolute;
  left: 45px;
  top: 45px;
}
div.hero1 h1.priv_info {
  position: absolute;
  left: 150px;
  top: 50px;
}
div.hero1 div.underline {
  position: absolute;
  left: 150px;
  top: 100px;
  border: 1px solid #1A1A1A;
  width: calc(100% - 300px);
}
div.hero1 p.hero_counter {
  position: absolute;
  top: 60px;
  left: calc(60% - 175px);
  font-size: 25px;
}
div.hero1 div.inputfields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 200px;
  width: 60%;
  gap: 60px;
}
div.hero1 div.inputfields div.inputfield_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 24px;
  gap: 8px;
}
div.hero1 div.inputfields div.inputfield_left div.left_form {
  width: 370px;
}
div.hero1 div.inputfields div.inputfield_left div.left_form form.myform_left input.fname {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 15px;
}
div.hero1 div.inputfields div.inputfield_left p.form_text {
  font-size: 14px;
  line-height: 21px;
  color: #2E2E2E;
}
div.hero1 div.inputfields div.inputfield_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 24px;
  gap: 8px;
}
div.hero1 div.inputfields div.inputfield_right div.right_form {
  width: 370px;
}
div.hero1 div.inputfields div.inputfield_right div.right_form form.myform_right input.lname {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 15px;
}
div.hero1 div.inputfields div.inputfield_right p.form_text {
  font-size: 14px;
  line-height: 21px;
  color: #2E2E2E;
}

p.photo_link {
  position: absolute;
  left: 150px;
  top: 350px;
  font-size: 18px;
  color: #1A1A1A;
}

input#pic_upload {
  display: none;
}

label {
  padding: 10px 10px 12px;
  position: absolute;
  left: 400px;
  top: 340px;
  color: white;
  background: #0E80BF;
  border-radius: 4px;
  cursor: pointer;
}

div.about_me {
  width: 100px;
}