@font-face {
    font-family: 'Helvetica Neue';
    src: url(../fonts/HelveticaNeue.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
}
input, textarea{
    outline: none;
}
@import './structure/home.scss';
@import './structure/piradi.scss';
@import './structure/gamocdileba.scss';
@import './structure/ganatleba.scss';
@import './structure/resume.scss';
