@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeue.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue";
}

body {
  overflow: none;
}

div.home {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/pics/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.home img.Redberry {
  position: absolute;
  left: 70px;
  top: 25px;
}
div.home img.logo {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 55%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
div.home div.line {
  position: absolute;
  left: 70px;
  right: 70px;
  top: 90px;
  border: 1px solid #1A1A1A;
}
div.home button#redirect_button1 {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 18px 60px;
  cursor: pointer;
  position: absolute;
  background: #1A1A1A;
}
div.home button#redirect_button1 p.redirect_text {
  font-size: 20px;
  color: #FFFFFF;
}

div.hero1 {
  width: 60%;
  height: 100vh;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}
div.hero1 header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
div.hero1 button#redirect_button2 {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #FFFFFF;
  position: absolute;
  left: 45px;
  top: 60px;
}
div.hero1 div.cont {
  width: 100%;
}
div.hero1 div.a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 85px;
}
div.hero1 h1.priv_info {
  margin-bottom: 15px;
}
div.hero1 div.underline {
  border: 1px solid #1A1A1A;
}
div.hero1 p.hero_counter {
  font-size: 25px;
}
div.hero1 div.inputfields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
  margin-bottom: 50px;
}
div.hero1 div.inputfields div.inputfield_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 24px;
  gap: 8px;
}
div.hero1 div.inputfields div.inputfield_left div.left_form {
  width: 40vh;
}
div.hero1 div.inputfields div.inputfield_left div.left_form form#myform_left input.fname {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 15px;
}
div.hero1 div.inputfields div.inputfield_left p.form_text {
  font-size: 14px;
  line-height: 21px;
  color: #2E2E2E;
}
div.hero1 div.inputfields div.inputfield_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 24px;
  gap: 8px;
}
div.hero1 div.inputfields div.inputfield_right div.right_form {
  width: 40vh;
}
div.hero1 div.inputfields div.inputfield_right div.right_form form#myform_right input.lname {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 15px;
}
div.hero1 div.inputfields div.inputfield_right p.form_text {
  font-size: 14px;
  line-height: 21px;
  color: #2E2E2E;
}
div.hero1 div.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  padding: 5px 70px;
  margin-bottom: 40px;
}
div.hero1 p.photo_link {
  font-size: 18px;
  color: #1A1A1A;
}
div.hero1 input#pic_upload {
  display: none;
}
div.hero1 label {
  padding: 10px 10px 12px;
  color: white;
  background: #0E80BF;
  border-radius: 4px;
  cursor: pointer;
}
div.hero1 div.about_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 20px 70px;
}
div.hero1 div.about_me input.about_me_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 10vh;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  padding: 10px;
}
div.hero1 div.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 1px 70px;
  margin-top: 10px;
}
div.hero1 div.email input.email_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5vh;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  padding: 10px;
}
div.hero1 div.email p.email_text {
  color: #5d5b5b;
  font-size: 14px;
}
div.hero1 div.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  padding: 1px 70px;
}
div.hero1 div.number input.number_input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 5vh;
  border: 1px solid #BCBCBC;
  border-radius: 4px;
  padding: 10px;
}
div.hero1 div.number p.number_text {
  color: #5d5b5b;
  font-size: 14px;
}
div.hero1 button#redirect_button3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 80vh;
  bottom: 65px;
  width: 150px;
  height: 50px;
  background: #6B40E3;
  border-radius: 4px;
  cursor: pointer;
}
div.hero1 button#redirect_button3 p {
  letter-spacing: 0.08em;
  color: #FFFFFF;
  font-size: 16px;
  margin: 0 auto;
}

.logo-12 {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 115vh;
  top: 95vh;
}

.valid1 {
  width: 20px;
  height: 20px;
  position: relative;
  left: 93%;
  bottom: 35px;
  display: none;
}

.invalid1 {
  width: 20px;
  height: 20px;
  position: relative;
  left: 101%;
  bottom: 35px;
  display: none;
}

.valid2 {
  width: 20px;
  height: 20px;
  position: relative;
  left: 93%;
  bottom: 35px;
  display: none;
}

.invalid2 {
  width: 20px;
  height: 20px;
  position: relative;
  left: 101%;
  bottom: 35px;
  display: none;
}

.valid3 {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 70px;
  left: 95%;
  display: none;
}

.invalid3 {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 70px;
  left: 101%;
  display: none;
}

.valid4 {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 70px;
  left: 95%;
  display: none;
}

.invalid4 {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 70px;
  left: 101%;
  display: none;
}